.container-not-found {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.container-not-found h1 {
  font-weight: 700;
}

.container-not-found p {
  margin: 12px 8px;
}
